.container{
    display: flex;
    /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    /* border-left: 2px solid rgb(104, 104, 250);
    border-radius: 3%; */
}
/* .others{
    flex:5;
    background-color: white;
    /* border-radius: 3% ; */
    /* height: 100vh; */
    /* height: calc(100vh - 50px); */
    
   
/* } */ 